<div class="summary-item">
  <div>Imię: </div>
  <div>{{formData['name']}}</div>
</div>
<div class="summary-item">
  <div>Nazwisko: </div>
  <div>{{formData['lastname']}}</div>
</div>
<div class="summary-item">
  <div>Adres: </div>
  <div>{{formData['address']}}</div>
</div>
<div class="summary-item">
  <div>Kod pocztowy: </div>
  <div>{{formData['postalCode']}}</div>
</div>
<div class="summary-item">
  <div>Miejscowość: </div>
  <div>{{formData['city']}}</div>
</div>
<div class="summary-item">
  <div>kraj: </div>
  <div>{{formData['country']}}</div>
</div>
<div class="summary-item">
  <div>Adres email: </div>
  <div>{{formData['email']}}</div>
</div>
<div class="summary-item">
  <div>Numer telefonu: </div>
  <div>{{formData['phoneNumber']}}</div>
</div>
<div class="summary-item">
  <div>Rodzaj wysyłki: </div>
  <div>{{shipmentLabel}}</div>
</div>
