{% macro createTree(categories, currentParent, currLevel, prevLevel) %}
  {% for category in categories %}
    {% if currentParent == category.parentId %}
      {% if currLevel > prevLevel %}
        <ol>
        {% endif %}

        {% if currLevel == prevLevel %}
        </li>
      {% endif %}

      <li>
        <label class='menu_label category-list-item' for="cat{{ category.id }}" class="" id="lcat{{category.id}}">
          <span style='color: #C61819'>{{category.name}}</span>
          <!-- <a style='color: #C61819' href="/category/{{category.id }}">{{category.name}}</a> -->
        </label><input type="checkbox" id="cat{{category.id}}"/></a>
      {% if currLevel > prevLevel %}
        {% set prevLevel = currLevel %}
      {% endif %}
      {% set currLevel = currLevel + 1 %}
      {{ _self.createTree(categories, category.id, currLevel, prevLevel) }}
      {% set currLevel = currLevel - 1  %}
    {% endif %}

  {% endfor %}

  {% if currLevel == prevLevel %}
  </li>
</ol>
{% endif %}

{% endmacro %}
